{# views/page.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.post_title }}</title>
    {{ wp_head|raw}}
</head>
<body>

  <h1 class="bg-color-red ">{{ title }}</h1>

{{ wp_footer|raw }}
</body>
</html>
